.hidden{
    visibility: hidden;
} 
.active{
    visibility: visible;
} 
 /*header toutes les pages  */
 .fruit_mer {
     background-color: rgba(0, 0, 0, 0.438);
     text-transform: uppercase !important;
 }

/* home */
.carousel-inner{
    height: 50vh;
} 
#article{
    padding-top: 50px;
}
#article .row{
    margin-bottom: 30px;
    background-color: rgb(218, 218, 218);
    padding: 15px 0 15px 0;
}
.btn-info {
    background-color: #1194F7 !important;
    margin-top: 20px;
}  
.pizza_pepperonie{
    width: 30% !important;
    height: auto !important;
}
.pizza_content{
    padding-left: 20px !important;
}
/* home */

/* bottom fixed button */
#back_top {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: gray;
    border-radius: 100%;
    margin-bottom: 20px;
}
#back_top i {
    color: #fff;
}
.menu_button {
    background-color: #EFEFF4 !important;
    border: 0 !important;
    color: #3795FC !important;
    text-transform: uppercase !important;
    width: 120px;
    margin-bottom: 20px;
}
.btn-primary:focus{
    box-shadow: none !important;
}
.menu_button:focus {
    outline-style: none !important;
    box-shadow: 0 !important;
}
/* bottom fixed button */

/* modal menu */
.button_menu {
    color: #1194F7 !important;
    background-color: #EFEFF4 !important;
    border: 0 !important;
    width: 100%;
}
.button_menu:focus {
    outline-style: none;
}
.list-group a {
    color: #1194F7 !important;
    background-color: #EFEFF4 !important;
}
/* modal menu */

/* checkout */
.checkout_container {
    padding-bottom: 100px !important;
}